swiper{
  height: 100vw;
  width: 100vw;
  .s-img{
    width: 100vw;
  }
}

.box{
  // background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  // margin-bottom: 30rpx;
  &.comment{
    margin-bottom: 0;
  }
}